

<div id="locationsTabPane" class="locations-tab-pane">
  <div class="tab-header">
    <h5>Vestigingen van het RAC</h5>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small>Donec id elit non mi porta.</small>
  </div>

  <app-location-list></app-location-list>

  <div class="tab-footer">

  </div>
</div>

<!--<div id="location-list-group" class="list-group">
  <div class="item-container" *ngFor="let location of locations" >
    <div class="list-group-item">
      <div class="d-flex justify-content-between">
        <h6 class="align-self-center list-group-item-title">{{ location.name }}</h6>
        <button type="button" class="btn btn-list-group-item">
          <i class="material-icons">arrow_drop_down</i>
        </button>
      </div>
    </div>
    <div class="collapse">
      <h1>Test</h1>
    </div>

  </div>
</div>
-->

<!--
<table class="table">
  <tbody>
    <tr *ngFor="let location of locations">
      <th scope="row"> {{ location.name }}</th>
    </tr>
    <a href="#" class="btn"></a>
  </tbody>
</table>
-->
